<div class="container mt-5">
  <h3 class="text-primary">Internal Server Error - refreshing the error disappear</h3>
  <ng-container *ngIf="error">
      <h5 class="text-danger">Error: {{error.message}}</h5>
      <p class="fw-bold">This error comes from server, not Angular</p>
      <p>What to do next?</p>
      <ol>
          <li>Check the network tab in chrome dev tools</li>
          <li>Reproduce the request in postman - if the same error occurs then definitely not Angular</li>
      </ol>
      <h5>Stack Trace</h5>
      <code class="mt-5 bg-success bg-opacity-10 text-dark">{{error.details}}</code>
  </ng-container>
</div>
