<div class="container mt-4">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p class="mt-1 fw-bold display-6">There are no items in your basket</p>
    </div>
    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
      <div class="container">
        <div class="row">
          <app-basket-summary
          (addItem)="quantityIncrement($event)"
          (removeItem)="removeProduct($event)">
          </app-basket-summary>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <div class="d-grid mb-4">
              <a [routerLink]="['/checkout']" class="btn btn-outline-primary" routerLinkActive>
              Proceed to checkout
              </a>
            </div>
          </div>
        </div>

      </div>
    </ng-container>
</div>
