<section class="py-5 bg-secondary" style="margin-top: 103px;">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-9">
        <h1>Title goes here</h1>
      </div>
      <div class="col-3">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="text-main">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-main">Library</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
