<ng-container *ngIf="$any (bcService.breadcrumbs$ | async) as breadcrumbs">
  <section *ngIf="breadcrumbs[breadcrumbs.length-1].label !== 'Home'" class="py-5 bg-dark bg-opacity-10" style="margin-top: 103px;">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h1>{{breadcrumbs[breadcrumbs.length-1].label |titlecase}}</h1>
        </div>
        <div class="col-3" *ngIf="!inAuthModule()">
          <nav>
            <ol class="breadcrumb">
              <xng-breadcrumb>
                <ng-container *xngBreadcrumbItem="let breadcrumb">
                  {{breadcrumb | titlecase}}
                </ng-container>
              </xng-breadcrumb>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</ng-container>
