<div class="container">
  <div class="row">

    <!-- Filters-Section -->
    <section class="col-3">
      <h5 class="text-warning ms-3 fw-bold">Sort</h5>
      <select class="form-select mb-4" style="cursor: pointer;" (change)="onSortSelected($event)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
      </select>
      <h5 class="text-warning ms-3 fw-bold">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let brand of brands"
        style="cursor: pointer;"
        [class.active]="brand.id === shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
      </ul>
      <h5 class="text-warning ms-3 fw-bold">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let type of types"
        style="cursor: pointer;"
        [class.active]="type.id === shopParams.typeId"
        [value]="type.id"
        (click)="onTypeSelected(type.id)">{{type.name}}</li>
      </ul>
    </section>

    <!-- Main-Catalog-Section -->
    <section class="col-9 mb-2">

      <!-- Start-Catalog-Info-Section -->
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
        ></app-paging-header>
        <div class="d-flex mt-2 w-75">
          <input type="text" placeholder="Search" class="form-control me-2 fw-bold" #search (keyup.enter)="onSearch()">
          <button class="btn btn-outline-success mx-2" (click)="onSearch()">Search</button>
          <button class="btn btn-outline-danger mx-2" (click)="onReset()">Reset</button>
        </div>
      </div>
      <!-- End-Catalog-Info-Section -->

      <!-- Start-Items-Section -->
      <div class="row row-cols-3 g-3 mb-5">
        <div class="col" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <!-- End-Items-Section -->


      <div class="d-flex justify-content-center">
          <app-pager
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
          ></app-pager>
      </div>

    </section>

  </div>
</div>
