<div style="margin-top: 103px;">
  <carousel [isAnimated]="true">
    <slide>
      <img src="../../../assets/slide-01.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/slide-02.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/slide-03.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/slide-04.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <section class="featured">
    <div class="text-center pt-4">
      <h1 class="text-main">Welcome to XSO25 e-Commerce!</h1>
      <button type="button" class="btn btn-primary" [routerLink]="['/products']">
        Explore Products!
      </button>
    </div>
  </section>
</div>
