<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
    <div routerLink="/" style="cursor: pointer;">
      <img src="../../assets/logo.png" alt="logo" class="logo" style="max-height: 70px;">
      <h4 style="display: inline-block" class="fw-bold text-main">XSO25 e-Commerce</h4>
    </div>
    <nav class="my-2 fs-4">
        <a [routerLink]="['/']"  class="p-2 mx-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a [routerLink]="['/shop']" class="p-2 mx-2" routerLinkActive="active">Shop</a>
        <a [routerLink]="['/test-error']" href="/" class="p-2 mx-2" routerLinkActive="active">Testing Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
              {{getCount(basket.items)}}
            </div>
        </a>
            <a routerLink="/auth/login" class="btn btn-outline-main me-2">Login</a>
            <a routerLink="/auth/register" class="btn btn-outline-alt me-3">Sign up</a>
    </div>
</header>
