<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/03d90e9f-7a51-4a84-88d1-2c1f8e1e57be/resourceGroups/XSO25_APPS/providers/Microsoft.Web/sites/XSO25eCommerce</ResourceId>
    <ResourceGroup>XSO25_APPS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://xso25ecommerce.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>65ab2fb8-eb62-4038-8165-ed99928d4655</ProjectGuid>
    <PublishUrl>https://xso25ecommerce.scm.azurewebsites.net/</PublishUrl>
    <UserName>$XSO25eCommerce</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>